@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    --principal-color: #D40D84;
    --titulos: 'Chango', cursive;
    --texto: 'PT Sans', sans-serif;
  }



* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(67, 67, 67, 0.9), rgba(0, 0, 0, 0.9)), url(../img/fondo.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(67, 67, 67, 0.9), rgba(0, 0, 0, 0.9)), url(../img/fondo.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center right;
  }
  
  video {
    position:fixed;
    min-width:100%;
    min-height:100%;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%) ;
    z-index:-1000;
  }

  .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .header__titulos {
      display: flex;
      flex-direction: column;
  }

  .header__titulo {
      margin-top: 2rem;
      color:var(--principal-color);
      text-align: left;
      font-size: 1.8rem;
      font-family: var(--titulos);
      letter-spacing: 0.05rem;
      line-height: 2;
  }

  .header__subtitulo {
    color:#ccc;
    margin-top: 0.2rem;
    text-align: right;
    text-shadow: 0px 0px 6px var(--principal-color);
    font-size: 0.9rem;
  }


  .header__redes-cont {
      margin: 2rem 0;
  }

  .header__redes-ul {
      list-style-type: none;
      display: flex;
      margin-bottom: 1.5rem;
  }

  .header__redes-li {
      margin:0 1.5rem;
  }

  .header__redes-a {
      text-decoration: none;
  }

  .header__telefono {
      background-color: #323232;
      color:#fff;
      padding: 0.5rem;
      font-size: 0.9rem;
      text-align: center;
      border-radius: 5%;
      width: 75%;
      margin: auto;
  }


  /*=======================
 *  MENU DE NAVEGACION
 * ========================*/ 

 .menu {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 2rem;
  }
  
  .menu__lista {
    list-style-type: none;
    margin-right: 30px;
  }
  
  .menu__lista.mostrar {
    top: 0;
  }
  
  .menu__items {
    margin: 10px 0;
  }
  
  .menu__enlaces {
    color: var(--principal-color);
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
    padding: 7px 2px;
    padding-bottom: 2px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
  }
  
  .menu__enlaces:hover {
    color:#fff;
  }
  
  .menu__icono {
    color: var(--principal-color);
    cursor: pointer;
    display: inline-block;
    text-align: right;
    z-index:10000;
    position: absolute;
    right: 2rem;
  }
  
  .active {
    color: #fff;
  }
  


/*---------TEXTO----*/
  .texto {
    color:#fff;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    text-align: left;
    line-height: 1.6;
    font-family: var(--texto);
  }
  







  /*ICONOS*/
  .bx {
    font-size:30px;  
  }
  
  .bxl-whatsapp {
    color:#25d366;
  }
  
  .bxl-twitter {
    color:#00aeef;
  }
  
  .bxl-google-plus-circle {
    color:#dd4b39;
  }

  .bxl-telegram {
    color:#0088cc;
  }

  .bxs-phone-call {
      color:#009f4d;
      font-size: 20px;
  }


  .bx-menu {
      font-size: 2rem;
  }
