
    .lesbico {
      max-width: 100vw;
      max-height: 100vh;
  }

  .lesbico__titulo {
      color:#fff;
      text-align: center;
      margin: 2rem 0;
      letter-spacing: 0.8rem;
  }

  .lesbico__cont-cajas {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
  }

  .lesbico__caja {
      width: 80%;
      background-color:rgba(208, 188, 188, .2);
      margin-bottom: 2rem;
      border-radius: 10px;
      padding: 2rem 2.5rem; 
  }

  .lesbico__subtitulo {
      color:#000;
      text-shadow: 0px 0px 6px  var(--principal-color);
      margin-bottom: 1rem;
      text-align: center;
      font-weight: bolder;
  }

  .lesbico__precio {
      font-size: 4rem;
      text-align: center;
      margin-bottom: 1rem;
      color:var(--principal-color);
  }

  .lesbico__precio span {
      font-size: 1rem;
      margin-left: -10px;
      color:#000;
      font-style: italic;
      font-weight: bolder;
  }

  .lesbico__texto {
      text-align: left;
      line-height: 1.8;
  }

