.modelo__cont-cajas {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.modelo__nombre {
    color:#fff;
    letter-spacing: 1rem;
    text-align: center;
    margin: 1rem 0;
}

.modelo__caja {
    width: 20%;
    min-height:100px ;
    margin: 1rem;
}

.modelo__foto {
    width: 100%;
    height: 100%;
}