@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    --principal-color: #D40D84;
    --titulos: 'Chango', cursive;
    --texto: 'PT Sans', sans-serif;
  }


.precios {
    width: 100vw;
    height: 100%;
    margin: auto;
}

.precios__lugar {
    color:var(--principal-color);
    font-family: var(--titulos);
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 1rem;
}

.precios__cont {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.precios__caja {
    background-color: rgba(208, 188, 188, .3);
    margin: 1rem 0;
    width: 70%;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--texto);
}

.precios__caja-titulo {
    color:#000;
    text-shadow: 0 0 2px var(--principal-color);
    font-family: var(--titulos);
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.precios__texto {
    font-weight: bolder;
    margin: 1rem 0;
   align-self: start;
}

.precios__lista {
    margin-bottom: 0.4rem;
}

.precios__lista span {
    font-weight: bold;
    font-style: italic;
    margin-left: 2rem;
}



.precios__lista-p {
    font-style: italic;
    margin-bottom: 0.3rem;
}