
.precios {
    width: 100vw;
    height: 100%;
    margin: auto;
}

.precios__lugar {
    color:#fff;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.precios__cont {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.precios__caja {
    background-color: rgba(208, 188, 188, .3);
    margin: 1rem 0;
    width: 80%;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.precios__caja-titulo {
    color:#000;
    text-shadow: 0 0 6px var(--principal-color);
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.precios__texto {
    font-weight: bolder;
    margin: 1rem 0;
   align-self: start;
}

.precios__cont-lista-ul {
    color:var(--principal-color);
    font-size: 1.2rem;
}

.precios__lista {
    margin-bottom: 0.4rem;
}


.precios__lista span {
    font-weight: bold;
    font-style: italic;
    margin-left: 2rem;
    font-size: 1rem;
    color:#000;
}



.precios__lista-p {
    font-style: italic;
    margin-bottom: 0.3rem;
}

