 /*=========================
 *  MEDIA QUERIES DEL MENU
 * =========================*/
 @media screen and (max-width: 768px) and (orientation: landscape) {
    .menu__items {
      margin: 3.5rem 0 0 0;
    }
  
    .menu__lista {
      overflow: scroll;
      height: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .menu__lista {
      position: fixed;
      width: 100vw;
      height: 100%;
      background: #000;
      top: -100vh;
      text-align: center;
      transition: all 0.4s;
      flex-direction: column;
      z-index: 100;
      margin-right: 0;
    }

    .menu__items {
        margin-top: 3rem;
    }
  }






  
 @media screen and (min-width:768px) {
    .header {
        flex-direction: row;
        justify-content: space-around;
    }

    .header__titulo {
        margin-top: 0;
    }

    .menu {
        top:0;
        position:static;
        margin-top: 2rem;
    }

    .menu__icono {
        display: none;
      }
    
      .menu__lista {
        display: flex;
      }
    
      .menu__items {
        border-right: 1px solid #fff;
      }

      .active {
        background-color: #323232;
      }
    
      .menu__enlaces {
        padding: 0 0.8rem;
        margin-bottom: 0;
        text-transform: initial;
        font-size: 1rem;
      }

      /*--TEXTO--*/
      .texto {
          width: 70%;
          font-size: 1.2rem;
          line-height: 1.6;
          margin-top: 6rem;
      }
  }


  @media screen and (min-width:992px) {
    .texto {
        width: 60%; 
    }
  }